In [1]:
import pandas as pd
import os
from pathlib import Path

DATA_DIR = Path(os.path.abspath('')).parents[1] / "data"
STOCK_PRICES_DIR_RAW = DATA_DIR / "stocks" / "raw"
TRANSPORT_FARES_DIR = DATA_DIR / "fares"
TRANSPORT_FARES_DIR

PosixPath('/Users/avekassy/Desktop/codingProjects/visualisations/tfl-price-visualisations/data/fares')

# Transport Fares

In [10]:
bus_and_coach_fares = pd.read_csv(TRANSPORT_FARES_DIR / "raw" / "bus_and_coach_fares.csv", skiprows=7)
rail_fares = pd.read_csv(TRANSPORT_FARES_DIR / "raw" / "rail_fares.csv", skiprows=7)
tfl_fares = pd.read_csv(TRANSPORT_FARES_DIR / "raw" / "TfLHistoricalFares2000to2025.csv")

In [11]:
rail_fares

         Year  relative_price
0        1987           100.6
1        1988           107.6
2        1989           117.4
3        1990           127.7
4        1991           141.0
..        ...             ...
642  2024 SEP           515.0
643  2024 OCT           523.4
644  2024 NOV           519.5
645  2024 DEC           519.6
646  2025 JAN           512.7

[647 rows x 2 columns]

# Stock Indeces

In [45]:
def preprocess_stock_prices_dataset(fpath: Path) -> None:
    df = pd.read_csv(fpath)
    df["Date"] = pd.to_datetime(df["Date"])
    df["year"] = df.Date.dt.year

    df_processed = df.groupby("year").max().sort_values("year")
    df_processed.columns = [s.strip().lower() for s in df_processed.columns]

    if ("year" not in df_processed.columns):
        df_processed = df_processed.reset_index(drop=False)

    # df_processed.to_csv(fname[:-4] + "_processed.csv", index=False)
    new_fname =  fpath.name[:-4] + "_processed.csv"
    df_processed.to_csv(fpath.parents[1] / "processed" / new_fname, index=False)

In [46]:
for fpath in STOCK_PRICES_DIR_RAW.iterdir():
    if ("csv" in str(fpath)):
        print(fpath.parent, fpath.name)
        preprocess_stock_prices_dataset(fpath)

/Users/avekassy/Desktop/codingProjects/visualisations/tfl-price-visualisations/data/stocks/raw HangSeng_1985to2025.csv
/Users/avekassy/Desktop/codingProjects/visualisations/tfl-price-visualisations/data/stocks/raw FTSE100_1985to2025.csv

/var/folders/1p/qx30w4js39sbtnrknydp18zc0000gn/T/ipykernel_57265/1996819000.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Date"] = pd.to_datetime(df["Date"])
/var/folders/1p/qx30w4js39sbtnrknydp18zc0000gn/T/ipykernel_57265/1996819000.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Date"] = pd.to_datetime(df["Date"])

/Users/avekassy/Desktop/codingProjects/visualisations/tfl-price-visualisations/data/stocks/raw Nikkei225_1980to2025.csv
/Users/avekassy/Desktop/codingProjects/visualisations/tfl-price-visualisations/data/stocks/raw SnP500_1980to2025.csv

/var/folders/1p/qx30w4js39sbtnrknydp18zc0000gn/T/ipykernel_57265/1996819000.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Date"] = pd.to_datetime(df["Date"])
/var/folders/1p/qx30w4js39sbtnrknydp18zc0000gn/T/ipykernel_57265/1996819000.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Date"] = pd.to_datetime(df["Date"])

/Users/avekassy/Desktop/codingProjects/visualisations/tfl-price-visualisations/data/stocks/raw DAX_1987to2025.csv

/var/folders/1p/qx30w4js39sbtnrknydp18zc0000gn/T/ipykernel_57265/1996819000.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Date"] = pd.to_datetime(df["Date"])

In [ ]:
snp = pd.read_csv(STOCK_PRICES_DIR_RAW / "SnP500_1980to2025.csv")
snp["Date"] = pd.to_datetime(snp["Date"])
snp["year"] = snp.Date.dt.year
snp.head()

/var/folders/1p/qx30w4js39sbtnrknydp18zc0000gn/T/ipykernel_57265/1726749124.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  snp["Date"] = pd.to_datetime(snp["Date"])

        Date     Open     High      Low    Close  year
0 2025-09-05  6529.08  6532.65  6443.98  6481.50  2025
1 2025-09-04  6456.60  6502.54  6445.98  6502.08  2025
2 2025-09-03  6445.82  6453.67  6416.17  6448.26  2025
3 2025-09-02  6401.51  6416.54  6360.58  6415.54  2025
4 2025-08-29  6489.28  6491.76  6444.57  6460.26  2025

In [ ]:
snp_processed = snp.groupby("year").max().sort_values("year")
snp_processed.columns = [s.strip().lower() for s in snp_processed.columns]

In [11]:
if ("year" not in snp_processed.columns):
    snp_processed = snp_processed.reset_index(drop=False)
snp_processed

    year       date     open     high      low    close
0   1980 1980-12-31   140.52   141.96   139.00   140.52
1   1981 1981-12-31   138.12   140.32   135.86   138.12
2   1982 1982-12-31   143.02   144.65   143.11   143.02
3   1983 1983-12-30   172.65   173.10   169.65   172.65
4   1984 1984-12-31   170.41   170.41   168.66   170.41
5   1985 1985-12-31   212.02   213.02   210.78   212.02
6   1986 1986-12-31   254.00   254.85   253.35   254.00
7   1987 1987-12-31   336.77   337.89   334.46   336.77
8   1988 1988-12-30   283.66   283.95   282.28   283.66
9   1989 1989-12-29   359.80   360.44   358.11   359.80
10  1990 1990-12-31   368.95   369.78   367.30   368.95
11  1991 1991-12-31   417.09   418.32   412.73   417.09
12  1992 1992-12-31   441.28   442.65   439.65   441.28
13  1993 1993-12-31   470.94   471.29   469.87   470.94
14  1994 1994-12-30   482.00   482.85   479.57   482.00
15  1995 1995-12-29   621.69   622.88   618.27   621.69
16  1996 1996-12-31   757.03   762.12   755.00   757.03
17  1997 1997-12-31   983.79   986.25   979.57   983.79
18  1998 1998-12-31  1241.81  1244.93  1231.20  1241.81
19  1999 1999-12-31  1469.25  1473.13  1463.41  1469.25
20  2000 2000-12-29  1527.46  1553.11  1518.62  1527.46
21  2001 2001-12-31  1373.73  1383.37  1364.66  1373.73
22  2002 2002-12-31  1172.51  1176.97  1165.55  1172.51
23  2003 2003-12-31  1111.92  1112.56  1106.41  1111.92
24  2004 2004-12-31  1213.55  1217.33  1213.41  1213.55
25  2005 2005-12-30  1272.74  1275.80  1267.74  1272.74
26  2006 2006-12-29  1427.09  1431.81  1425.48  1427.09
27  2007 2007-12-31  1565.15  1576.09  1555.46  1565.15
28  2008 2008-12-31  1447.16  1471.77  1443.73  1447.16
29  2009 2009-12-31  1128.55  1130.38  1126.08  1127.78
30  2010 2010-12-31  1259.44  1262.60  1258.78  1259.78
31  2011 2011-12-30  1365.21  1370.58  1358.69  1363.61
32  2012 2012-12-31  1465.42  1474.51  1460.07  1465.77
33  2013 2013-12-31  1842.97  1849.44  1842.41  1848.36
34  2014 2014-12-31  2088.49  2093.55  2085.75  2090.57
35  2015 2015-12-31  2130.36  2134.72  2126.06  2130.82
36  2016 2016-12-30  2270.54  2277.53  2266.15  2271.72
37  2017 2017-12-29  2692.71  2694.97  2685.92  2690.16
38  2018 2018-12-31  2936.76  2940.91  2927.11  2930.75
39  2019 2019-12-31  3247.23  3247.93  3234.37  3240.02
40  2020 2020-12-31  3750.01  3760.20  3730.21  3756.07
41  2021 2021-12-31  4795.49  4808.93  4780.04  4793.06
42  2022 2022-12-30  4804.51  4818.62  4774.27  4796.56
43  2023 2023-12-29  4786.44  4793.30  4780.98  4783.35
44  2024 2024-12-31  6089.03  6099.97  6079.98  6090.27
45  2025 2025-09-05  6529.08  6532.65  6466.96  6502.08

In [ ]:
# It would make a lot of sense to combine them into one csv
# TODO