In [1]:
import pandas as pd
import os
from pathlib import Path

DATA_DIR = Path(os.path.abspath('')).parents[1] / "data"
STOCK_PRICES_DIR_RAW = DATA_DIR / "stocks" / "raw"
TRANSPORT_FARES_DIR = DATA_DIR / "fares"
TRANSPORT_FARES_DIR

PosixPath('/Users/avekassy/Desktop/codingProjects/visualisations/tfl-price-visualisations/data/fares')

# Transport Fares

In [2]:
bus_and_coach_fares = pd.read_csv(TRANSPORT_FARES_DIR / "raw" / "bus_and_coach_fares.csv", skiprows=7)
rail_fares = pd.read_csv(TRANSPORT_FARES_DIR / "raw" / "rail_fares.csv", skiprows=7)
tfl_fares = pd.read_csv(TRANSPORT_FARES_DIR / "raw" / "TfLHistoricalFares2000to2025.csv")

In [3]:
n_rows = 2024 - int(rail_fares.iloc[0].year) + 1

rail_fares = rail_fares.iloc[:n_rows]
rail_fares["year"] = rail_fares["year"].astype(int)

bus_and_coach_fares = bus_and_coach_fares.iloc[:n_rows]
bus_and_coach_fares["year"] = bus_and_coach_fares["year"].astype(int)

In [4]:
combined_fares = bus_and_coach_fares.merge(rail_fares, on='year')
combined_fares = combined_fares.merge(tfl_fares, on='year', how='outer')
combined_fares.head()

,year,relative_bus_and_coach_fares,relative_rail_fares,singleZ1to4Cash,singleZ1to4OysterPeak,busCash,singleBusOyster,capBusTram,travelcardZ1to4,capZ1to4PAYG,travelcard7DayZ1to4,weeklyBusAndTramPass
0,1987,103.4,100.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1988,110.6,107.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1989,119.3,117.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1990,125.9,127.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1991,143.6,141.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
combined_fares.to_csv(TRANSPORT_FARES_DIR / "processed" / "combined_transport_fares.csv", index=False)

# Stock Indeces

In [6]:
def preprocess_stock_prices_dataset(fpath: Path) -> None:
    df = pd.read_csv(fpath)
    df["Date"] = pd.to_datetime(df["Date"])
    df["year"] = df.Date.dt.year

    df_processed = df.groupby("year").max().sort_values("year")
    df_processed.columns = [s.strip().lower() for s in df_processed.columns]

    if ("year" not in df_processed.columns):
        df_processed = df_processed.reset_index(drop=False)

    # df_processed.to_csv(fname[:-4] + "_processed.csv", index=False)
    new_fname =  fpath.name[:-4] + "_processed.csv"
    df_processed.to_csv(fpath.parents[1] / "processed" / new_fname, index=False)

    return df_processed

In [7]:
processed_indecis = {}
for fpath in STOCK_PRICES_DIR_RAW.iterdir():
    if ("csv" in str(fpath)):
        print(fpath.parent, fpath.name)
        processed_indecis[fpath.name[:-4]] = preprocess_stock_prices_dataset(fpath)

/Users/avekassy/Desktop/codingProjects/visualisations/tfl-price-visualisations/data/stocks/raw HangSeng_1985to2025.csv
/Users/avekassy/Desktop/codingProjects/visualisations/tfl-price-visualisations/data/stocks/raw FTSE100_1985to2025.csv

/var/folders/1p/qx30w4js39sbtnrknydp18zc0000gn/T/ipykernel_63016/1530709402.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Date"] = pd.to_datetime(df["Date"])
/var/folders/1p/qx30w4js39sbtnrknydp18zc0000gn/T/ipykernel_63016/1530709402.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Date"] = pd.to_datetime(df["Date"])

/Users/avekassy/Desktop/codingProjects/visualisations/tfl-price-visualisations/data/stocks/raw Nikkei225_1980to2025.csv
/Users/avekassy/Desktop/codingProjects/visualisations/tfl-price-visualisations/data/stocks/raw SnP500_1980to2025.csv

/var/folders/1p/qx30w4js39sbtnrknydp18zc0000gn/T/ipykernel_63016/1530709402.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Date"] = pd.to_datetime(df["Date"])
/var/folders/1p/qx30w4js39sbtnrknydp18zc0000gn/T/ipykernel_63016/1530709402.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Date"] = pd.to_datetime(df["Date"])

/Users/avekassy/Desktop/codingProjects/visualisations/tfl-price-visualisations/data/stocks/raw DAX_1987to2025.csv

/var/folders/1p/qx30w4js39sbtnrknydp18zc0000gn/T/ipykernel_63016/1530709402.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Date"] = pd.to_datetime(df["Date"])

In [8]:
pd.DataFrame(processed_indecis['DAX_1987to2025'].year, columns=['year']).merge(processed_indecis['DAX_1987to2025'][['year', 'high']])

    year      high
0   1987   1000.00
1   1988   1340.41
2   1989   1790.37
3   1990   1968.55
4   1991   1715.80
5   1992   1811.57
6   1993   2266.68
7   1994   2271.11
8   1995   2394.15
9   1996   2909.91
10  1997   4438.93
11  1998   6171.43
12  1999   6958.14
13  2000   8064.97
14  2001   6795.14
15  2002   5462.55
16  2003   3965.16
17  2004   4261.79
18  2005   5469.96
19  2006   6629.33
20  2007   8151.57
21  2008   8100.64
22  2009   6026.69
23  2010   7087.84
24  2011   7600.41
25  2012   7682.90
26  2013   9594.35
27  2014  10093.03
28  2015  12390.75
29  2016  11481.66
30  2017  13525.56
31  2018  13596.89
32  2019  13425.85
33  2020  13903.11
34  2021  16290.19
35  2022  16285.35
36  2023  17003.28
37  2024  20522.82
38  2025  24639.10

In [9]:
# processed_indecis['DAX_1987to2025'].high
combined_indecis = pd.DataFrame(processed_indecis['DAX_1987to2025'].year, columns=['year'])
for key, df in processed_indecis.items():
    incoming_df = df[['year','high']].rename(columns={'high': key})
    combined_indecis = combined_indecis.merge(incoming_df, on='year', how='outer')

In [10]:
combined_indecis

,year,HangSeng_1985to2025,FTSE100_1985to2025,Nikkei225_1980to2025,SnP500_1980to2025,DAX_1987to2025
0,1980,NaN,NaN,7188.28,141.96,NaN
1,1981,NaN,NaN,8019.14,140.32,NaN
2,1982,NaN,NaN,8026.99,144.65,NaN
3,1983,NaN,NaN,9893.82,173.10,NaN
4,1984,NaN,NaN,11577.44,170.41,NaN
5,1985,1757.29,1413.60,13128.94,213.02,NaN
6,1986,2568.30,1717.60,18936.24,254.85,NaN
7,1987,3949.73,2443.40,26646.43,337.89,1000.00
8,1988,2772.53,1879.30,30050.93,283.95,1340.41
9,1989,3309.64,2426.00,38915.87,360.44,1790.37
10,1990,3559.89,2463.70,38712.88,369.78,1968.55
11,1991,4297.33,2679.60,27146.91,418.32,1715.80
12,1992,6447.11,2847.80,23566.39,442.65,1811.57
13,1993,11888.30,3461.96,21148.11,471.29,2266.68
14,1994,12201.09,3520.27,21552.81,482.85,2271.11
15,1995,10073.00,3689.30,20011.76,622.88,2394.15
16,1996,13530.00,4118.50,22666.70,762.12,2909.91
17,1997,16673.27,5330.80,20681.07,986.25,4438.93
18,1998,11810.63,6179.00,17264.34,1244.93,6171.43
19,1999,16962.10,6930.20,18934.34,1473.13,6958.14
20,2000,18301.69,6930.20,20833.20,1553.11,8064.97
21,2001,16163.99,6360.30,14556.10,1383.37,6795.14
22,2002,11974.61,5362.30,12081.40,1176.97,5462.55
23,2003,12594.42,4491.80,11238.60,1112.56,3965.16
24,2004,14266.38,4826.20,12195.70,1217.33,4261.79
25,2005,15508.57,5647.20,16445.56,1275.80,5469.96
26,2006,20049.03,6271.40,17563.37,1431.81,6629.33
27,2007,31958.41,6754.10,18300.39,1576.09,8151.57
28,2008,27853.60,6534.70,15156.66,1471.77,8100.64
29,2009,23099.57,5445.17,10767.00,1130.38,6026.69
30,2010,24988.57,6021.46,11408.17,1262.60,7087.84
31,2011,24468.64,6105.77,10891.60,1370.58,7600.41
32,2012,22718.83,5997.04,10433.63,1474.51,7682.90
33,2013,24111.55,6875.62,16320.22,1849.44,9594.35
34,2014,25362.98,6904.86,18030.83,2093.55,10093.03
35,2015,28588.52,7122.74,20952.71,2134.72,12390.75
36,2016,24364.00,7142.83,19592.90,2277.53,11481.66
37,2017,30199.69,7697.62,23382.15,2694.97,13525.56
38,2018,33484.08,7903.50,24448.07,2940.91,13596.89
39,2019,30280.12,7727.49,24091.12,3247.93,13425.85
40,2020,29174.92,7689.67,27602.52,3760.20,13903.11
41,2021,31183.36,7457.14,30795.78,4808.93,16290.19
42,2022,25050.59,7687.27,29388.16,4818.62,16285.35
43,2023,22700.85,8047.06,33853.46,4793.30,17003.28
44,2024,23241.74,8474.41,42426.77,6099.97,20522.82
45,2025,25918.86,9357.51,43876.42,6532.65,24639.10

In [11]:
combined_indecis.to_csv(STOCK_PRICES_DIR_RAW.parent / "combined_indices.csv", index=False)